{% extends 'base.html' %}

{% block content %}
    {% include 'navbar.html' %}
    <style>

        .center-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 24px;
            font-weight: bold;
        }
         .custom-label {
            font-size: 18px;
            color: #333;

        }

        .description-container {
            margin-bottom: 40px;
            margin-left: auto;
            margin-right: auto;
            max-width: 60%;
            border: 2px solid #ccc;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: white;

        }
        .appointment-button {
            position: absolute;
            right: 677px;
            bottom: 230px;
            font-weight: bold;

        }
        #appointmentButton {
            display: none;
        }

        body {
            background-color: #F6F6F2;
        }

    </style>

    <title>Pediatric Doctors</title>
    <script>
        var makeAppointmentUrlBase = "{{ make_appointment_view_url }}";

        function redirectToAppointment() {
            var selectedDoctor = document.getElementById("doctorSelect").value;
            if (selectedDoctor) {
                window.location.href = makeAppointmentUrlBase + selectedDoctor + "/";
            }
        }


        function showAppointmentButton() {
            var selectedDoctor = document.getElementById("doctorSelect").value;
            if (selectedDoctor) {
                document.getElementById("appointmentButton").style.display = "block";
            } else {
                document.getElementById("appointmentButton").style.display = "none";
            }
        }
    </script>

    <body>

    <div style="height:120px;"></div>


        <div class="content-container">
            <div class="description-container">
                <h2>About Cardiology Consultation</h2>
                <p>
                    Cardiology consultation involves specialized medical care for diagnosing and treating conditions related to the heart and circulatory system. These consultations may include routine cardiovascular health assessments, diagnostic tests like EKGs and echocardiograms, and the management of chronic conditions such as hypertension or coronary artery disease.o
                </p>
            </div>

        <div class="center-content">
        <label for="doctorSelect">Choose a cardiologist doctor:</label>
        <select id="doctorSelect" class="custom-label" name="doctor" onchange="showAppointmentButton()">
            <option value="">Select a Doctor</option>
            {% for doctor in doctors %}
                <option value="{{ doctor.id }}">Dr. {{ doctor.first_name }} {{ doctor.last_name }}</option>
            {% endfor %}
        </select>
        </div>
        <button id="appointmentButton" class="appointment-button" onclick="redirectToAppointment()">Make an Appointment</button>
    </div>
    </body>


{% endblock %}
