{% extends "base.html " %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block content %}

{% include 'navbar.html' %}
    <div style="height:80px;"></div>

 <h2 style="text-align:center; margin-bottom: 20px;">Future Appointments</h2>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Appointment Hour</th>
            <th>Medic</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in pending_appointments %}
        <tr>
            <td>{{ appointment.date }}</td>
            <td>{{ appointment.time }}</td>
            <td>Dr. {{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }}</td>
            <td>{{ appointment.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    <h2 style="text-align:center; margin-top: 50px; margin-bottom: 20px;">Completed Appointments</h2>
    <table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Appointment Hour</th>
            <th>Medic</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in completed_appointments %}
        <tr>
            <td>{{ appointment.date }}</td>
            <td>{{ appointment.time }}</td>
            <td>Dr. {{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }}</td>
            <td>{{ appointment.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <style>

    table {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }


    th, td {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;

    }


    th {
        background-color: #f2f2f2;
    }


    tr:nth-child(even) {
        background-color: #f5f5f5;
    }
    tr:nth-child(odd) {
        background-color: white;

    }


    tr:hover {
        background-color: #e6e6e6;
    }

    body {
            background-color: #F6F6F2;
        }

</style>
    <div style="height:80px;"></div>

{% endblock content %}